@model Booking
 
        <tr>  
            <td>@Model.BookingId</td>  
            <td>@Model.Name</td>  
            <td>@Model.TableNum</td>
            <td>@Model.StartDateTime.ToString("MM/dd/yyyy HH.mm")</td>  
            <td>@Model.GuestNum</td>
            <td>@Model.Status</td>
        </tr> 